.home-page {
  width: min(100% - 40px, var(--page-max-width));
  margin: 27px auto 22px;
}

.property-gallery {
  display: grid;
  gap: 20px;
  margin-top: 22px;
}

@media (min-width: 768px) {
  .home-page {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .property-gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px 60px;
    margin-top: 43px;
    padding: 56px 50px 43px;
    border-radius: 25px;
    background-color: var(--color-gallery);
  }
}
